{% extends "base_generic.html" %}

{% block content %}

<body>

	<div>

		<h1>Recipes</h1>

		{% if recipe_list %}
		<ul>
			{% for recipe in recipe_list %}
			<li><a href="/recipes/{{recipe.slug}}/">{{ recipe.name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			No recipes currently in database.
		{% endif %}
		
	</div>

	<div>

		<h1>Ingredients</h1>

		{% if ingredients_list %}
		<ul>
			{% for ingredient in ingredients_list %}
			<li>{{ ingredient.name }}</li>
			{% endfor %}
		</ul>
		{% else %}
			No ingredients currently in database.
		{% endif %}

	</div>

	<div>
		<a href="/recipes/create_recipe/">Create Recipe</a>
	</div>

	<div>
		<a href="/accounts/login">Login</a>
	</div>

</body>

{% endblock %}